.s-brands {
    padding-top: 57px;
    padding-bottom: 75px;
}

.new-products__title {
    margin-bottom: 50px;
}

.s-brands__list {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}
.s-brands__item {
    width: 25%;
    margin-left: 15px;
    margin-right: 15px;
}
.brands__link {
}
.brands__img {
    width: 100%;
    max-width: 100%;
}