.copyright {
    font-family: $main-font;
    font-size: 12px;
    line-height: 16px;
    color: $grey-light_2;
}

.copyright-author {
    font-family: $main-font;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-decoration-line: underline;
    color: $grey-light_2;
}