.s-season {
    padding-top: 100px;
    padding-bottom: 140px;
}

.s-season__title {
    margin-bottom: 50px;
}

.s-season__products {
    display: flex;
    justify-content: space-between;
    width: 84%;
    margin: 0 auto;
}